.button {
  @include reset-btn;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: 700;
  background: linear-gradient(to left, #ff1d25, #ef4e26, #ff1d25);
  box-shadow: 0px 3px 0px #4c1a03;
  border-radius: 36px;
  width: 100%;
  min-height: 75px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  text-shadow: 1.3px 2.6px 3px #000;

  @media (max-width: 650px) {
    font-size: 22px;
  }

  &:hover {
    background: #fc4f19;
  }

  &:active {
    background: #cb3300;
    box-shadow: none;
    top: 6px;
  }

  &::after {
    content: '';
    margin-left: 60px;
    width: 25px;
    height: 300px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff),
      to(hsla(0, 0%, 100%, 0.01))
    );
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.01));
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    position: absolute;
    left: -90px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
  }

  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }
}

.button__wrapper {
  position: relative;
  width: 100%;
  max-width: 341px;

  &_desc {
    display: none;
    @media (max-width: 650px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &_formats {
    position: absolute;
    max-width: 410px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -32.5px;

    button {
      font-size: 23px;
    }
  }

  &_calc {
    position: absolute;
    max-width: 413px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -45.5px;

    button {
      font-size: 26px;

      @media (max-width: 650px) {
        font-size: 22px;
      }
    }
  }

  &_work {
    position: absolute;
    max-width: 413px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -45.5px;

    button {
      font-size: 26px;

      @media (max-width: 650px) {
        font-size: 22px;
      }
    }
  }

  &_options {
    position: absolute;
    max-width: 381px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -45.5px;

    button {
      font-size: 20px;

      @media (max-width: 650px) {
        font-size: 20px;
      }
    }
  }

  &_modal-form {
    max-width: 319px;
    margin-top: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    button {
      font-size: 20px;

      @media (max-width: 650px) {
        font-size: 20px;
      }
    }
  }
}

.button__bg {
  width: 105%;
  height: 122%;
  background-color: #ff1d25;
  opacity: 0.3;
  position: absolute;
  @include central-align;
  z-index: 0;
  border-radius: 36px;
}
