.footer {
  background-color: #040e1c;
  padding-top: 43px;
  padding-bottom: 35px;
  color: white;
}

.footer__content {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.footer__company-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;

  @media (max-width: 650px) {
    font-size: 16px;
  }
}

.footer__company-data {
  font-size: 18px;
  margin-bottom: 10px;

  @media (max-width: 900px) {
    text-align: center;
  }
}

.footer__city {
  font-size: 18px;
  padding-left: 50px;
  margin-bottom: 0;
  position: relative;

  @media (max-width: 900px) {
    text-align: center;
    padding-left: 0;
  }

  &::before {
    content: url('/src/img/icons/flag.png');
    left: 0px;
    top: 0px;
    position: absolute;
  }
}

.footer__links-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__policy {
  @include reset-btn;
  font-size: 18px;
  color: white;
  margin-bottom: 22px;

  @media (max-width: 900px) {
    margin-bottom: 10px;
  }

  &:focus,
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 33px;
}

.footer__social {
  width: 47px;
  height: 47px;
  @include bg;

  &:nth-child(1) {
    background-image: url('/src/img/icons/vk.svg');
  }

  &:nth-child(2) {
    background-image: url('/src/img/icons/insta.svg');
  }
}

.footer__last {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__contact-box {
  padding-left: 52px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;

  &:hover::before {
    transform: rotate(15deg) translateY(-50%);
  }

  &_thanks {
    margin-bottom: 0;
  }

  @media (max-width: 900px) {
    margin-bottom: 15px;

    &_thanks {
      margin-bottom: 0;
    }
  }

  &::before {
    position: absolute;
    content: url('/src/img/icons/phone.svg');
    width: 41px;
    height: 41px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
}

.footer__phone {
  font-size: 31px;
  font-weight: bold;
  text-align: center;
  color: white;

  @media (max-width: 650px) {
    font-size: 26px;
  }

  &:hover,
  &:focus,
  &:active {
    color: white;
    text-decoration: underline;
  }
}

.footer__callback {
  @include reset-btn;
  font-size: 18px;
  color: white;

  &:focus,
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.footer__franch5 {
  padding-left: 52px;
  color: white;
  position: relative;
  text-decoration: underline;
  text-align: center;
  font-size: 18px;

  @media (max-width: 650px) {
    font-size: 16px;
  }

  &::before {
    content: url('/src/img/icons/f5.svg');
    width: 43px;
    height: 40px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  &:focus,
  &:hover,
  &:active {
    color: white;
  }
}
