.header {
  padding-top: 14px;
}

.header__logo {
  @media (max-width: 767px) {
    width: 222px;
  }

  @media (max-width: 650px) {
    width: 154px;
  }
}

.header__content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 650px) {
    gap: 15px;
  }
}

.header__contact-box {
  display: flex;
  padding-left: 60px;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: 650px) {
    padding-left: 0;
  }

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    content: url('/src/img/icons/phone.svg');
    width: 50px;
    height: 50px;

    @media (max-width: 650px) {
      content: none;
    }
  }
}

.header__phone {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 3px;

  @media (max-width: 650px) {
    font-size: 16px;
  }

  &:hover,
  &:focus,
  &:active {
    color: white;
    text-decoration: underline;
  }
}

.header__callback {
  @include reset-btn;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;

  @media (max-width: 650px) {
    font-size: 14px;
  }

  &:hover,
  &:focus,
  &:active {
    color: white;
    text-decoration: underline;
  }
}
