.options {
  padding-top: 75px;

  @media (max-width: 1150px) {
    padding-top: 50px;
  }

  @media (max-width: 767px) {
    padding-top: 30px;
  }
}

.options__title {
  @include title;
  margin-bottom: 45px;

  @media (max-width: 1150px) {
    text-align: center;
  }

  @media (max-width: 621px) {
    br {
      display: none;
    }
  }

  span {
    color: $blue;
  }
}

.options__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  position: relative;

  @media (max-width: 1150px) {
    gap: 80px;
  }

  @media (max-width: 575px) {
    gap: 55px;
  }

  &::before {
    content: url('/src/img/options-tea.png');
    position: absolute;
    left: -393px;
    top: 634px;
    z-index: 1;

    @media (max-width: 1350px) {
      content: none;
    }
  }

  &::after {
    content: url('/src/img/options-photo.png');
    position: absolute;
    right: -390px;
    top: -369px;
    z-index: -1;

    @media (max-width: 1350px) {
      content: none;
    }
  }
}

.options__item {
  @include max-width(559px);
  min-height: 823px;

  &:nth-child(1) {
    .options__item-head {
      background-image: url('/src/img/gallery/options/1.jpg');
    }
  }
  &:nth-child(2) {
    .options__item-head {
      background-image: url('/src/img/gallery/options/2.jpg');
    }
  }
}

.options__item-title {
  color: white;
  margin-bottom: 0;
  font-size: 24px;

  @media (max-width: 575px) {
    font-size: 22px;
  }
}

.options__item-head {
  width: 100%;
  height: 145px;
  @include bg;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (max-width: 575px) {
    padding-left: 20px;
    height: 100px;
  }
}

.options__item-content {
  min-height: 678px;
  background-color: #f4f1ec;
  padding-left: 70px;
  padding-top: 50px;
  padding-right: 103px;
  padding-bottom: 60px;
  position: relative;

  @media (max-width: 575px) {
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 60px;
  }
}

.options__item-text {
  font-size: 18px;
  margin-bottom: 18px;

  @media (max-width: 575px) {
    font-size: 16px;
  }
}
