.owner {
  min-height: 715px;
  @include bg;
  background-image: url('/src/img/bgs/owner-bg.jpg');
  padding-top: 92px;
  padding-bottom: 90px;
  color: white;

  @media (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.owner__title {
  @include title;
  margin-bottom: 50px;

  span {
    color: #fcee21;
  }

  @media (max-width: 670px) {
    br {
      display: none;
    }
  }
}

.owner__text-box {
  position: relative;
  @include max-width(674px);

  &::after {
    content: url('/src/img/owner.png');
    position: absolute;
    right: -715px;
    top: -200px;
    z-index: -1;

    @media (max-width: 1150px) {
      right: -635px;
    }

    @media (max-width: 991px) {
      content: none;
    }
  }
}

.owner__text {
  font-size: 18px;
  margin-bottom: 20px;

  &:nth-child(3) {
    margin-bottom: 35px;
  }
}

.onwer__devider {
  @include max-width(393px);
  height: 1px;
  background-color: white;
  margin-bottom: 35px;
}

.onwer__caption {
  @include max-width(395px);
  font-size: 18px;
  margin-bottom: 0;
}

.owner__img {
  display: none;
  @media (max-width: 991px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}