.steps {
  background-color: #f4f0eb;
  padding-top: 250px;
  padding-bottom: 75px;

  @media (max-width: 1150px) {
    padding-top: 30px;
  }

  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  @media (max-width: 650px) {
    padding-top: 75px;
  }
}

.steps__title {
  @include title;
  text-align: center;
  color: $blue;
  margin-bottom: 63px;
}

.steps__list {
  @include reset-list;
  position: relative;

  &::after {
    content: url('/src/img/steps-notebook.png');
    position: absolute;
    right: -450px;
    top: 26px;

    @media (max-width: 1200px) {
      content: none;
    }
  }
}

.steps__item {
  position: relative;

  @for $i from 1 through 7 {
    &:nth-child(#{$i}) .steps__item-text-box::before {
      content: '#{$i}';
    }
  }

  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
    gap: 102px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 700px) {
    margin-bottom: 50px;
  }

  @media (max-width: 650px) {
    margin-bottom: 30px;
  }
}

.steps__item-img {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: 700px) {
    display: none;
  }
}

.steps__item-text-box {
  @include max-width(391px);
  position: absolute;
  right: -21px;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 1200px) {
    position: relative;
    right: 0;
    top: 0px;
    transform: translateY(0);
  }

  @media (max-width: 700px) {
    padding-left: 100px;
    max-width: 100%;
  }

  @media (max-width: 650px) {
    padding-left: 65px;
  }

  &::before {
    position: absolute;
    font-size: 159.1px;
    font-weight: bold;
    color: $blue;
    top: 0px;
    left: -97px;
    height: 115px;
    line-height: 115px;

    @media (max-width: 700px) {
      left: 0px;
    }

    @media (max-width: 650px) {
      font-size: 100px;
      height: 84px;
      line-height: 84px;
    }
  }

  &_left {
    text-align: right;
    left: -10px;

    @media (max-width: 1200px) {
      position: relative;
      left: 0;
      top: 0px;
      transform: translateY(0);
      text-align: left;
    }

    &::before {
      right: -93px;
      @media (max-width: 1200px) {
        right: 0;
        left: -97px;
      }
      @media (max-width: 700px) {
        left: 0px;
      }
    }
  }
}

.steps__item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;

  @media (max-width: 650px) {
    font-size: 20px;
  }
}

.steps__item-text {
  font-size: 18px;

  @media (max-width: 650px) {
    font-size: 16px;
  }
}
