@import './lib/reboot.scss';
@import './lib/fonts.scss';
@import './base/variables.scss';
@import './base/mixins.scss';
@import './base/global.scss';
@import './components/modal.scss';
@import './components/priv-policy.scss';
@import './components/footer.scss';

.thanks__header {
  min-height: 236px;
  @include bg;
  background-image: url('/src/img/bgs/thanks-header-bg.png');
  padding-top: 55px;
  padding-bottom: 55px;
  position: relative;
  z-index: 1;

  @media (max-width: 650px) {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: auto;
    background-image: none;
    background-color: $blue;
  }
}

.thanks__header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include max-width(506px);
}

.thanks {
  padding-top: 35px;
  padding-bottom: 40px;
  position: relative;
  z-index: 0;
}

.thanks__title {
  @include title;
  text-align: center;
  margin-bottom: 35px;

  @media (max-width: 1100px) {
    br {
      display: none;
    }
  }

  @media (max-width: 650px) {
    font-size: 24px;
  }
}

.thanks__text {
  @include max-width(725px);
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1.28;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &::before {
    content: url('/src/img/thanks-flowers-left.png');
    top: -430px;
    left: -600px;
    position: absolute;
    z-index: -1;

    @media (max-width: 991px) {
      content: none;
    }
  }

  &::after {
    content: url('/src/img/thanks-flowers-right.png');
    top: -420px;
    right: -597px;
    position: absolute;
    z-index: -1;

    @media (max-width: 991px) {
      content: none;
    }
  }

  @media (max-width: 767px) {
    font-size: 24px;
  }

  @media (max-width: 650px) {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.thanks__time-box {
  width: 100%;
  border: solid 1px #ff0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 41px;
  display: flex;
  margin-bottom: 40px;

  @media (max-width: 950px) {
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: 730px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 650px) {
    margin-bottom: 25px;
  }
}

.thanks__left-side {
  padding-left: 41px;
  padding-right: 19px;
  width: 56%;
  display: flex;
  justify-content: center;

  @media (max-width: 950px) {
    width: 100%;
  }

  @media (max-width: 730px) {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
  }
}

.thanks__time {
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 85px;
  position: relative;

  @media (max-width: 730px) {
    padding-left: 0;
  }

  @media (max-width: 650px) {
    font-size: 16px;
  }

  &::before {
    content: url('/src/img/icons/thanks-clock.svg');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 63px;
    height: 63px;

    @media (max-width: 730px) {
      content: none;
    }
  }
}

.thanks__right-side {
  display: flex;
  align-items: center;
}

.thanks__note {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 19px;
  position: relative;

  @media (max-width: 950px) {
    width: 100%;
    justify-content: center;
    padding-left: 80px;
  }

  @media (max-width: 730px) {
    padding-left: 0;
    justify-content: flex-start;
  }

  @media (max-width: 650px) {
    font-size: 16px;
  }

  &::before {
    position: absolute;
    height: 60px;
    width: 1px;
    content: '';
    background-color: #ff0;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;

    @media (max-width: 950px) {
      content: none;
    }
  }
}

.thanks__slogan {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;

  @media (max-width: 650px) {
    font-size: 20px;
  }
}
